assets/pictures/**/*.png filter=lfs diff=lfs merge=lfs -text
assets/pictures/**/*.webp filter=lfs diff=lfs merge=lfs -text
assets/banners/*.png filter=lfs diff=lfs merge=lfs -text
assets/banners/*.webp filter=lfs diff=lfs merge=lfs -text
